name: Manual workflow
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version (e.g., 1.1.3)'
        required: true

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Validate version format
        run: |
          VERSION="${{ github.event.inputs.release_version }}"
          echo "Checking version format: $VERSION"
          if [[ ! "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "âŒ ERROR: Invalid version format. Must be in X.Y.Z format (e.g., 1.1.3, 2.4.6)"
            exit 1
          fi
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "Version in Output: ${{ steps.validate.outputs.version }}"

      - name: Store build timestamp
        run: echo "BUILD_TIME=$(date +'%T')" >> $GITHUB_ENV
    
      - name: Deploy using stored timestamp
        run: echo "Deploying at $BUILD_TIME"
          
      - name: Checkout code
        uses: actions/checkout@master
        with:
          fetch-depth: 0
        
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.release_version }}
          release_name: ${{ github.event.inputs.release_version }}
          draft: false
          prerelease: false      

      - name: Get changelog
        id: changes
        uses: simbo/changes-since-last-release-action@v1

      - name: Show changelog
        run: |
          echo "Previous Tag: ${{ steps.changes.outputs.last-tag }}"
          echo "New Tag: ${{ github.event.inputs.release_version }}"
          echo "Commits since last tag:"
          echo "${{ steps.changes.outputs.log }}"
